{% extends "app.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/profile_card.css">
{% endblock %}

{% block content %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="jobs" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Jobs {% if current_job %} ( current_job: {{ current_job['name'] }} ) {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="jobs">
            {% for job in jobs %}
                <a class="dropdown-item" href="/profiles?job_id={{ job['id'] }}">{{ job['name'] }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="wrapper grid" {% if current_job %} data-job-id="{{ current_job['id'] }}" {% endif %}>
        {% include "profiles/show.html" %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var limit = 24, skip = 0, is_available = true;

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() === $(document).height()) {
                var job_id = $(".wrapper").attr("data-job-id");
                if (job_id && $('.wrapper').length !== 0) {
                    is_available = false;
                    $.ajax({
                        url: '/profiles',
                        method: 'GET',
                        data: {
                            skip: skip,
                            limit: limit,
                            job_id: job_id
                        },
                        success: function (html) {
                            $('.wrapper').append(html);
                            skip = skip + limit;
                            is_available = true;
                        },
                        error: function () {
                            is_available = true;
                        }
                    });
                }
            }
        });

        function scroll() {

        }
    </script>
{% endblock %}